.CJ4D6R {
    height: 100% !important;
}

.R6ex7N[aria-disabled=false] .kuTaGy {
	background-color: #00c2ff !important;
    border: 1px solid #00c2ff !important;
    cursor: pointer!important;
}
#minimized-chat {
	color: rgb(20, 20, 22);
    background-color: #00c2ff !important;
    border-radius: 8px;
}

#comp-kk2skte2 svg [data-color="1"] {
    fill: #00c2ff !important;
}

#comp-kk2sktdt svg [data-color="1"] {
    fill: #00c2ff !important;
}

#comp-kk2sktdx svg [data-color="1"] {
    fill: #00c2ff !important;
}

#comp-kk2sktdk svg [data-color="1"] {
    fill: #00c2ff !important;
}

.color_18 {
    color: #00c2ff !important;
}

#comp-kk2x3s8n svg [data-color="1"] {
    fill: #00c2ff !important;
}